.container{
    margin: 80px;
    padding: 80px;
    
}



.container ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    
   
}

.container ul:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed #aaa;
    
}

.container ul li{
    margin: 50px 60px;
    position: relative;
}

.container ul li > span{
    content: '';
    position: absolute;
    top: 0;
    left: -60px;
    width: 0px;
    height: 100%;
    border: 1px solid #aaa;
   
}
.container ul li > span:before, .container ul li > span:after{
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #aaa;
    position: absolute;
    border-radius: 50%;
    left: -6px;
    background: #fff;
    
}
.container ul li > span:before {
    top: -12px;

}

.container ul li > span:after{
    
    top: 100%;
}

.container ul li .time span{
    position: absolute;
    font-size: 12px;
    left: -160px;
    width: 80px;
    text-align: right;
    color: black;
    margin-top: 6%;
}

.container ul li .time span:first-child{
    
    top: -12px;
}
.container ul li .time span:last-child{
    left: -130px;
    top: -100px;
}

